<div class="steps flex-row">
  @for (step of steps; track $index) {
    <div class="step__base flex-column">
      <mat-icon [svgIcon]="step.svgIcon" class="featured-md"></mat-icon>
      <div class="base__content flex-column" [class.current]="step === currentStep">
        <p class="text-sm text-semibold">{{ step.title | translate }}</p>
        <p class="text-sm text-regular">{{ step.description | translate }}</p>
      </div>
      @if ($index !== steps.length - 1) {
        <div class="line" [class.complete]="isStepComplete(step)"></div>
      }
    </div>
  }
</div>
