@use 'sphience';

:host {
  .steps {
    gap: 16px;

    .step__base {
      position: relative;
      width: 90px;
      align-items: center;
      gap: 12px;
      display: none;

      @include sphience.breakpoint-sm() {
        display: flex;
      }

      @include sphience.breakpoint-lg() {
        width: 240px;
      }

      .base__content {
        display: none;
        align-items: center;
        opacity: 0.6;

        @include sphience.breakpoint-lg() {
          display: flex;
        }

        &.current {
          opacity: 1;
        }

        h5 {
          color: sphience.$color-grey-700;
        }

        p {
          color: sphience.$color-grey-600;
        }
      }
    }

    .line {
      position: absolute;
      top: 20px;
      left: 50%;
      z-index: -1;
      width: 100%;
      height: 2px;
      background-color: sphience.$color-grey-200;

      &.complete {
        background-color: sphience.$color-grey-700;
      }
    }
  }
}
