@use 'sphience';

:host {
  display: block;
  padding: 0 16px;

  @include sphience.breakpoint-md {
    padding: 0 32px;
  }

  .header {
    display: grid;
    grid-template-areas:
      'title title'
      'description description'
      'actions actions';

    @include sphience.breakpoint-lg {
      column-gap: auto;
      row-gap: 4px;
      grid-template-areas:
        'title actions'
        'description actions';
      grid-template-columns: fit-content(100%) 1fr;
    }

    &__title {
      grid-area: title;
      color: sphience.$color-grey-900;

      @include sphience.breakpoint-lg {
        text-wrap: nowrap;
      }
    }

    &__description {
      grid-area: description;
      color: sphience.$color-grey-600;
    }

    &__actions {
      margin-top: 16px;
      grid-area: actions;
      justify-self: start;
      flex-wrap: wrap;
      gap: 12px;
      flex-direction: row;

      @include sphience.breakpoint-lg {
        flex-wrap: nowrap;
        margin-top: 0;
        justify-content: end;
      }
    }
  }

  .tabs {
    margin-top: 20px;
  }
}
