@let dateRange = $dateRange();
@if (isDesktop$ | async) {
  <button class="datepicker" mat-stroked-button [class.active]="$hasValidDateRange()" #datepickerTrigger="matMenuTrigger" [matMenuTriggerFor]="datepicker" (click)="$event.stopPropagation()">
    <mat-icon svgIcon="calendar"></mat-icon><span class="text-sm text-semibold">{{ $buttonText() }}</span>
  </button>
  <mat-menu #datepicker="matMenu" [overlapTrigger]="true">
    <app-datepicker-menu
      [dateRange]="dateRange"
      [withActions]="true"
      (dateRangeChange)="onDateChange($event); datepickerTrigger.closeMenu()"
      (cancel)="datepickerTrigger.closeMenu()"
      (click)="$event.stopPropagation()"
    ></app-datepicker-menu>
  </mat-menu>
} @else {
  <button class="datepicker" mat-stroked-button [class.active]="$hasValidDateRange()" (click)="$event.stopPropagation(); openDatepickerDialog()">
    <mat-icon svgIcon="calendar"></mat-icon><span class="text-sm text-semibold">{{ $buttonText() }}</span>
  </button>
}
@if ($hasValidDateRange()) {
  <button class="clear icon-only" mat-stroked-button (click)="clearDates()"><mat-icon svgIcon="close"></mat-icon></button>
}
