@use 'sphience';

:host {
  display: flex;
  flex-wrap: nowrap;

  .datepicker {
    border: 1px solid sphience.$color-grey-300 !important;

    &.active {
      border-radius: 8px 0 0 8px !important;
    }
  }

  .clear {
    border-radius: 0 8px 8px 0 !important;
    border-left: 0 !important;
  }
}
