@use 'sphience';

:host {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;

  .equipment {
    margin-top: 32px;
    padding: 0 16px;
    gap: 24px;

    @include sphience.breakpoint-md {
      min-height: 0;
      padding: 0 32px;
    }

    &__filter {
      display: flex;
      gap: 16px;
      flex-direction: column;

      @include sphience.breakpoint-sm {
        flex-direction: row;
      }

      @include sphience.breakpoint-md {
        flex-direction: column;
      }

      @include sphience.breakpoint-lg {
        flex-direction: row;
      }
    }
  }

  ::ng-deep {
    .cdk-column-image {
      flex: calc(72px + 24px) 0 0;
      padding-right: 0 !important;
    }

    .cdk-column-name {
      min-width: calc(216px + 24px + 24px);
      flex: 2;
    }

    .cdk-column-available {
      min-width: calc(216px + 24px + 24px);
      flex: 1;
    }

    .cdk-column-documents {
      min-width: calc(232px + 24px + 24px);
      flex: 1;
    }
  }
}
