<app-header title="Equipment catalog" description="View the catalog of the university here.">
  <ng-container actions>
    <app-action-buttons [primaryButton]="primaryActionButton" [secondaryButton]="secondaryActionButton" [extraButtons]="extraActionButtons"></app-action-buttons>
  </ng-container>
  <ng-container tabs>
    <app-tabs [tabs]="tabs" [(activeTab)]="activeTab"></app-tabs>
  </ng-container>
</app-header>
<mat-menu #extraOptions="matMenu" class="extra-actions">
  <button mat-menu-item><mat-icon svgIcon="plus"></mat-icon>Add device</button>
  <button mat-menu-item><mat-icon svgIcon="trash"></mat-icon>Remove selected device(s)</button>
</mat-menu>

<div class="equipment flex-column full-height">
  <app-filter [formGroup]="filterForm">
    <mat-form-field main class="filter__input--left filter__input--search full-width">
      <mat-icon matIconPrefix svgIcon="search"></mat-icon>
      <input matInput placeholder="Search for device" formControlName="name" />
    </mat-form-field>
    <ng-container other>
      <app-datepicker-button (dateRangeChange)="onDateChange($event)"></app-datepicker-button>
      <mat-button-toggle-group [value]="$equipmentView()" (valueChange)="onViewChange($event)">
        <mat-button-toggle value="grid"><mat-icon svgIcon="grid"></mat-icon>Grid view</mat-button-toggle>
        <mat-button-toggle value="list"><mat-icon svgIcon="list"></mat-icon>List view</mat-button-toggle>
      </mat-button-toggle-group>
    </ng-container>
  </app-filter>
  @if ($equipmentView() === 'list') {
    <app-table class="full-height" [data]="data" [columns]="columns" title="All devices"></app-table>
  } @else {
    <app-equipment-grid class="full-height min-height-0" [data]="data"></app-equipment-grid>
  }
</div>
