@use 'sphience';

:host {
  .overlay {
    position: relative;
    height: calc(100% - 44px);
    align-items: center;
    justify-content: center;
    padding: 12px 0;

    .icon {
      width: 48px;
      height: 48px;
      padding: 12px;
      border: 1px solid sphience.$color-grey-200;
      border-radius: sphience.$radius-lg;
      color: sphience.$color-grey-700;
    }

    h4,
    p {
      margin: 0;
    }

    h4 {
      margin-top: sphience.$spacing-2xl;
      font-size: sphience.$fs-100;
      color: sphience.$color-grey-900;
    }

    p {
      margin-top: sphience.$spacing-md;
      font-size: sphience.$fs-50;
      color: sphience.$color-grey-600;
    }
  }
}
