<aside class="sidenav full-height flex-column">
  <div class="sidenav__logo flex-row">
    <mat-icon svgIcon="university"></mat-icon>
    <p class="display-xs text-bold">University</p>
  </div>
  <div class="sidenav__top flex-column">
    @for (item of topItems(); track $index) {
      <app-sidenav-item [icon]="item.icon" [text]="item.text" [link]="item.link"></app-sidenav-item>
    }
  </div>
  <div class="sidenav__bottom flex-column">
    @for (item of bottomItems(); track $index) {
      <app-sidenav-item [icon]="item.icon" [text]="item.text" [link]="item.link"></app-sidenav-item>
    }
  </div>
  <mat-divider></mat-divider>
  <app-sidenav-profile name="Dean Reymen" email="reymen@outlook.be" (logout)="logout.emit()"></app-sidenav-profile>
</aside>
