@use 'sphience';

:host {
  .sidenav {
    width: 100%;
    padding: 16px 16px 32px 16px;
    gap: 24px;
    background-color: sphience.$color-white;
    border-right: 1px solid sphience.$color-grey-200;

    @include sphience.breakpoint-md() {
      width: 310px;
      height: 100%;
      padding: 32px 16px;
    }

    &__logo {
      display: none;
      gap: 6px;

      @include sphience.breakpoint-md() {
        display: flex !important;
      }

      mat-icon {
        width: 32px;
        height: 32px;
      }

      p {
        color: sphience.$color-grey-900;
      }
    }

    &__top,
    &_bottom {
      gap: 4px;
    }

    &__bottom {
      margin-top: auto;
    }
  }
}
