<div class="table flex-column shadow-sm" [class.full-height-important]="data().length === 0">
  @if (title()) {
    <h3>{{ title() }}</h3>
  }
  <mat-table class="full-height shadow-xs" [dataSource]="dataSource()" matSort>
    @for (column of columns(); track column; let index = $index) {
      <ng-container [matColumnDef]="column.field">
        {{ column.field }}
        <mat-header-cell *matHeaderCellDef [class.mat-cell-action]="isActionColumn(column)">
          @if (withSelection() && index === 0) {
            <mat-checkbox
              data-testid="mat-mdc-checkbox"
              (change)="$event ? selectAll() : null"
              [checked]="selectionModel.hasValue() && isAllSelected()"
              [indeterminate]="selectionModel.hasValue() && !isAllSelected()"
              [disabled]="data().length === 0"
            >
            </mat-checkbox>
          }
          {{ column.name | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [class.mat-cell-action]="isActionColumn(column)">
          @if (withSelection() && index === 0) {
            <mat-checkbox data-testid="mat-mdc-checkbox" (click)="$event.stopPropagation()" (change)="$event ? selectionModel.toggle(row) : null" [checked]="selectionModel.isSelected(row)">
            </mat-checkbox>
          }
          @switch (column.type) {
            @case (tableColumnDataType.TEXT) {
              {{ row | nestedValue: column }}
            }
            @case (tableColumnDataType.TITLE_AND_DESCRIPTION) {
              <div class="title-and-description full-width">
                <h4>{{ getTitle(column, row) }}</h4>
                <p>{{ getDescription(column, row) }}</p>
              </div>
            }
            @case (tableColumnDataType.BADGE) {
              @let value = row | nestedValue: column;
              @if (value) {
                <app-badge [color]="getBadgeColor(column, row)" [size]="getBadgeSize(column)" [type]="getBadgeType(column)">{{ value }}</app-badge>
              }
            }
            @case (tableColumnDataType.AVATAR_GROUP) {
              @let documents = row | nestedValue: column;
              @if (documents) {
                <p class="document-count">{{ documents?.length }} documents</p>
                <app-avatar-group [imagesSrc]="documents" [size]="AvatarGroupSize.XS"></app-avatar-group>
              }
            }
            @case (tableColumnDataType.IMAGE) {
              @let imageSrc = row | nestedValue: column;
              <app-table-image [imageSrc]="imageSrc"></app-table-image>
            }
            @case (tableColumnDataType.EDIT) {
              <mat-icon data-testid="table-edit-icon" class="action-icon" svgIcon="pencil" (click)="onCellEdit($event, row)"></mat-icon>
            }
            @case (tableColumnDataType.DELETE) {
              <mat-icon data-testid="table-delete-icon" class="action-icon" svgIcon="trash" (click)="onCellDelete($event, row)"></mat-icon>
            }
          }
        </mat-cell>
      </ng-container>
    }

    <mat-header-row *matHeaderRowDef="displayedColumns()"></mat-header-row>
    <mat-row data-testid="table-row" *matRowDef="let row; columns: displayedColumns()" [class.clickable]="isCellClickedObserved()" (click)="onRowClick(row)"> </mat-row>
    @if (withNoResultsOverlay()) {
      <app-table-overlay *matNoDataRow></app-table-overlay>
    }
  </mat-table>
  <mat-paginator [class.display-none]="!withPaginator" data-testid="paginator" [pageSizeOptions]="[10]"></mat-paginator>
</div>
