@use 'sphience';

:host {
  .avatar {
    border-radius: sphience.$radius-full;
    background-color: sphience.$color-primary-50;

    img {
      border-radius: sphience.$radius-full;
    }

    &.xs {
      width: 24px;
      height: 24px;

      .avatar__placeholder {
        padding: 4px;
      }
    }

    &.sm {
      width: 32px;
      height: 32px;

      .avatar__placeholder {
        padding: 6px;
      }
    }

    &.md {
      width: 40px;
      height: 40px;

      .avatar__placeholder {
        padding: 8px;
      }
    }

    &.lg {
      width: 48px;
      height: 48px;

      .avatar__placeholder {
        padding: 10px;
      }
    }

    &.xl {
      width: 56px;
      height: 56px;

      .avatar__placeholder {
        padding: 12px;
      }
    }

    &.xxl {
      width: 64px;
      height: 64px;

      .avatar__placeholder {
        padding: 16px;
      }
    }

    &__placeholder {
      color: sphience.$color-primary-600;
    }
  }
}
