$spacing-xs: 4px;
$spacing-sm: 6px;
$spacing-md: 8px;
$spacing-lg: 12px;
$spacing-xl: 16px;
$spacing-2xl: 20px;
$spacing-3xl: 24px;
$spacing-4xl: 32px;
$spacing-5xl: 40px;
$spacing-6xl: 48px;
$spacing-7xl: 64px;
$spacing-8xl: 80px;
$spacing-10xl: 96px;
$spacing-11xl: 128px;
$spacing-12xl: 160px;
$spacing-13xl: 192px;
$spacing-14xl: 224px;
$spacing-15xl: 256px;

$radius-none: 0;
$radius-xxs: 2px;
$radius-xs: 4px;
$radius-sm: 6px;
$radius-md: 8px;
$radius-lg: 10px;
$radius-xl: 12px;
$radius-2xl: 16px;
$radius-3xl: 20px;
$radius-4xl: 24px;
$radius-full: 9999px;
