<section class="register-section flex-column full-height">
  <div class="full-width full-height flex-column">
    <div class="register__logo flex-row cursor-pointer" routerLink="/">
      <mat-icon svgIcon="logo-color"></mat-icon>
      <h3>Sphience</h3>
    </div>
    <header class="register__header flex-column">
      <h2 class="display-md text-semibold" classMd="display-xs">{{ $title() | translate }}</h2>
      <p class="text-md text-regular">{{ $description() | translate }}</p>
    </header>
    <article class="register__form full-height">
      @switch ($currentStep().stepName) {
        @case (RegistrationStep.EMAIL) {
          <form class="flex-column form__step-one" (ngSubmit)="goToPassword()">
            <div class="flex-column form__email">
              <mat-form-field>
                <input matInput type="text" placeholder="Enter your email" [formControl]="emailFormControl" />
              </mat-form-field>
              <button mat-flat-button color="primary" type="submit">Continue</button>
            </div>
            <app-divider-with-text text="OR"></app-divider-with-text>
            <button mat-stroked-button><mat-icon svgIcon="google-color" class="google-icon"></mat-icon> Sign up with Google</button>
            <div class="has-account">
              <span class="text-sm text-regular">Already have an account? <a routerLink="/login">Log in</a></span>
            </div>
          </form>
        }
        @case (RegistrationStep.PASSWORD) {
          <form class="flex-column form__step-two" [formGroup]="passwordForm" (ngSubmit)="goToDetails()">
            <div class="flex-column">
              <mat-form-field>
                <input matInput formControlName="password" type="password" placeholder="Choose a password" autocomplete="on" />
                <mat-error *hasError="'password'; code: 'minlength'">Choose a more secure password, longer than 8 characters.</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm password" autocomplete="on" />
                <mat-error *hasError="'confirmPassword'; code: 'noMatch'">Password does not match. Enter password again.</mat-error>
              </mat-form-field>
            </div>
            <div class="flex-column">
              <button mat-flat-button color="primary" type="submit">Continue</button>
              <button mat-stroked-button (click)="back()">Back</button>
            </div>
          </form>
        }
        @case (RegistrationStep.DETAILS) {
          <form class="flex-column form__step-three" [formGroup]="detailsForm" (ngSubmit)="signUp()">
            <div class="flex-column">
              <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="firstName" type="text" placeholder="Enter your first name" />
                <mat-error *hasError="'firstName'; code: 'required'">Required</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput formControlName="lastName" type="text" placeholder="Enter your last name" />
                <mat-error *hasError="'lastName'; code: 'required'">Required</mat-error>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Role</mat-label>
                <mat-select formControlName="role" placeholder="Select your role">
                  @for (role of roles; track $index) {
                    <mat-option [value]="role">
                      {{ role | translate }}
                    </mat-option>
                  }
                </mat-select>
                <mat-error *hasError="'role'; code: 'required'">Required</mat-error>
              </mat-form-field>
            </div>
            <div class="flex-column">
              <button mat-flat-button color="primary" type="submit" [inProgress]="$loadingRegistration()">Continue</button>
              <button mat-stroked-button (click)="back()">Back</button>
            </div>
          </form>
        }
      }
    </article>
  </div>
  <app-progress-steps class="register__process" [steps]="steps" [currentStep]="$currentStep()"></app-progress-steps>
</section>
