<nav class="mobile-header">
  <div class="mobile-header__logo flex-row">
    <mat-icon svgIcon="university"></mat-icon>
    <p class="display-xs text-bold">University</p>
  </div>

  <div class="mobile-header__hamburger cursor-pointer" [class.opened]="sidenavOpened()" (click)="sidenavToggle.emit()">
    <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path id="top-line" class="line" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="sidenavOpened() ? 'M3 6h17' : 'M3 6h18'" />
      <path id="middle-line" class="line" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12h12" />
      <path id="bottom-line" class="line" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" [attr.d]="sidenavOpened() ? 'M3 18h17' : 'M3 18h18'" />
    </svg>
  </div>
</nav>
<div class="mobile-header__divider">
  <mat-divider></mat-divider>
</div>
