@use 'sphience';

:host {
  $padding-form-horizontal: 140px;
  $padding-form-top: 128px;

  .login-page {
    align-items: center;
    justify-content: center;
  }

  .login-section {
    position: relative;
    width: 100%;
    align-items: center;
    overflow-x: hidden;
    padding: 48px 16px;

    @include sphience.breakpoint-sm() {
      padding: $padding-form-top 0 0 0;
    }

    @include sphience.breakpoint-lg() {
      width: 60%;
    }

    @include sphience.breakpoint-xl() {
      width: 40%;
    }

    &::before {
      width: 768px;
      height: 768px;
      position: absolute;
      z-index: -1;
      top: 64px;
      left: 32px;
      transform: translate(-50%, -50%);
      mask-image: url('../../../../../assets/illustration/circle-desktop.svg');
      background: radial-gradient(50% 50% at 50% 50%, sphience.$color-grey-200 0%, transparent 100%);
      content: '';

      @include sphience.breakpoint-xs() {
        left: calc(50% - 164px);
      }

      @include sphience.breakpoint-sm() {
        top: 144px;
      }
    }
  }

  .login {
    position: relative;
    width: 100%;

    @include sphience.breakpoint-xs() {
      width: 360px;
    }

    &__logo {
      gap: 8px;
      align-items: center;

      mat-icon {
        min-width: 32px;
        min-height: 32px;
      }
    }

    &__header {
      margin-top: 80px;
      align-items: start;
      gap: 12px;

      h2 {
        color: sphience.$color-grey-900;
      }

      p {
        color: sphience.$color-grey-600;
      }
    }

    &__form {
      margin-top: 32px;
      gap: 16px;
    }

    &__remember {
      margin-top: 24px;
      justify-content: space-between;

      p {
        margin-right: auto;
      }
    }

    &__actions {
      margin-top: 32px;
      gap: 16px;

      .google-icon {
        width: 24px;
        height: 24px;
      }
    }

    &__no-account {
      margin-top: 32px;
      text-align: center;
    }
  }

  .attribution {
    position: relative;
    background-color: sphience.$color-grey-100;
    padding: 96px 64px;
    overflow: hidden;
    display: none;

    @include sphience.breakpoint-lg() {
      display: flex;
      align-items: center;
      width: 40%;
    }

    @include sphience.breakpoint-xl() {
      width: 60%;
      align-items: unset;
    }

    .quote {
      display: none;

      @include sphience.breakpoint-xl() {
        display: block;
      }

      &__author {
        margin-top: 24px;
      }
    }

    &__image {
      position: absolute;
      transform-origin: center left;
      scale: 2;
      margin-top: 0;
      border-radius: 16px;

      @include sphience.breakpoint-xl() {
        margin-top: 40%;
        transform-origin: top left;
        scale: 1.5;
      }
    }
  }
}
