<main class="login-page full-width full-height flex-row">
  <section class="login-section flex-column full-height">
    <form class="login flex-column full-height">
      <div class="login__logo flex-row cursor-pointer" routerLink="/">
        <mat-icon svgIcon="logo-color"></mat-icon>
        <h3>Sphience</h3>
      </div>
      <div class="login__header flex-column">
        <h2 class="display-md text-semibold" classMd="display-xs">Log in</h2>
        <p class="text-md text-regular">Welcome back! Please enter your details.</p>
      </div>
      <div class="login__form flex-column">
        <mat-form-field>
          <mat-label class="text-sm text-medium">Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email" />
          <mat-error *hasError="'email'; code: 'invalid'">Incorrect email or password</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label class="text-sm text-medium">Password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="••••••••" />
        </mat-form-field>
      </div>
      <div class="login__remember flex-row">
        <mat-checkbox class="small" formControlName="remember"> Remember for 30 days </mat-checkbox>
        <a href="/">Forgot password</a>
      </div>
      <div class="login__actions flex-column">
        <button mat-flat-button type="button" color="primary" [inProgress]="false">Sign in</button>
        <button mat-stroked-button type="button" [inProgress]="false"><mat-icon svgIcon="google-color" class="google-icon"></mat-icon> Sign in with Google</button>
      </div>
      <div class="login__no-account">
        <span class="text-sm text-regular">Don't have an account? <a routerLink="/register">Sign up</a></span>
      </div>
    </form>
  </section>
  <aside class="attribution full-height">
    <div class="quote">
      <h4 class="display-sm text-medium">By connecting students and researchers with the equipment they need, it kickstarts their projects and empowers them to achieve incredible breakthroughs.</h4>
      <div class="quote__author">
        <p class="text-lg text-semibold">— Dean Reymen</p>
        <p class="text-md text-medium">Founder Sphience</p>
      </div>
    </div>
    <img src="../../../../../assets/image/login-mockup.webp" alt="Mockup of the application" class="attribution__image" />
  </aside>
</main>
