@use 'sphience';

:host {
  .sidebar {
    width: 312px;
    background-color: sphience.$color-white;
  }

  .mat-drawer-container {
    width: 100%;

    @include sphience.breakpoint-md() {
      height: 100%;
    }

    .mat-drawer-side {
      border: unset;
    }

    .mat-drawer-over {
      max-height: 100vh;
      width: 100%;
    }

    .mat-drawer-content {
      // height: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: scroll !important;
      background-color: sphience.$color-grey-25;

      @include sphience.breakpoint-md() {
        overflow: hidden;
        flex-direction: row;
      }

      ::ng-deep router-outlet + * {
        overflow: auto;
        width: 100%;
        height: fit-content;
        padding: 16px 0 24px 0;

        @include sphience.breakpoint-md() {
          padding: 32px 0 48px 0;
        }
      }
    }
  }
}
