@use 'sphience';

:host {
  .sidebar {
    width: 312px;
    background-color: sphience.$color-white;
  }

  .mat-drawer-container {
    width: 100%;
    height: 100%;

    .mat-drawer-side {
      border: unset;
    }

    .mat-drawer-over {
      width: 100%;
    }

    .mat-drawer-content {
      height: 100%;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      background-color: sphience.$color-grey-25;

      ::ng-deep router-outlet + * {
        overflow: auto;
        padding: 32px 0 48px 0;
        width: 100%;
      }
    }
  }
}
