<div class="datepicker">
  <div class="datepicker__content flex-column">
    <header class="content__month flex-row">
      <mat-icon svgIcon="chevron-left" aria-hidden="false" (click)="goToPreviousMonth()"></mat-icon>
      <h3 class="text-md text-semibold">{{ currentMonth }}</h3>
      <mat-icon svgIcon="chevron-right" aria-hidden="false" (click)="goToNextMonth()"></mat-icon>
    </header>

    <div class="content__actions multi-select flex-row">
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Select date" [value]="$selectedStartDate() | date" readonly />
      </mat-form-field>
      <span class="text-md text-regular">-</span>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="Select date" [value]="$selectedEndDate() | date" readonly />
      </mat-form-field>
    </div>

    <div class="content__dates">
      <div class="dates__weekdays flex-row">
        @for (weekday of weekdays; track $index) {
          <div class="date">
            <span class="text-sm text-medium"> {{ weekday }}</span>
          </div>
        }
      </div>
      <div class="calendar">
        <div class="calendar__days">
          @for (date of calendarDates; track $index) {
            <div
              class="date"
              [class.selected]="isDateEqual(date, $selectedStartDate()) || isDateEqual(date, $selectedEndDate())"
              [class.in-current-month]="isDateInCurrentMonth(date)"
              [class.today]="isDateToday(date)"
              [class.in-range]="isDateInRange(date)"
              [class.unavailable]="isDateUnavailable(date)"
              (click)="selectDate(date)"
            >
              <span class="text-sm text-regular"> {{ date.getDate() }}</span>
            </div>
          }
        </div>
        <div class="calendar__range full-width">
          @for (date of getRangeDates(); track $index) {
            <div [class.in-range]="isDateInRange(date)" [class.saturday]="isDateInRangeAndSaturday(date)" [class.sunday]="isDateInRangeAndSunday(date)"></div>
          }
        </div>
        @if ($unavailableDates().length > 0) {
          <div class="calendar__unavailable-range full-width">
            @for (date of getRangeDates(); track $index) {
              <div [class.unavailable]="isDateRangeUnavailable(date)"></div>
            }
          </div>
        }
        @if ($unavailableDates().length > 0) {
          <div class="calendar__unavailable-days full-width">
            @for (date of calendarDates; track $index) {
              <div [class.unavailable]="isDateRangeUnavailable(date)"></div>
              <div class="date" [class.today]="isDateToday(date)" [class.unavailable-date]="isDateUnavailable(date)"></div>
            }
          </div>
        }
      </div>
    </div>
  </div>
  @if ($withActions()) {
    <footer class="datepicker__actions flex-row">
      <button mat-stroked-button class="md full-width" (click)="dialogRef.close()">Cancel</button>
      <button mat-flat-button class="md full-width" color="primary" (click)="apply()" [disabled]="!$selectedStartDate() || !$selectedEndDate()">Apply</button>
    </footer>
  }
</div>
